body{
    text-align: center;
    background-image: url(../Images/3f483410b8f2f1eb486efa7142deefc3.jpg);
    background-size: cover;
    padding: 60px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
p{
    font-size: 40px;
    color: orange;
}
table{
    background-color: #001758;
    margin: 20px auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
table td{
    padding: 30px;

}
table td input{
    width: 400px;
    font-size: 20px;
    background-color: orange;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 5px solid transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
}
table td input:focus{
    outline: none;
}

table label{
    font-size: 20px;
    color: orange;
}
table label input{
    width: 100px;
    font-size: 10px;
}

.submit{
    text-align: center;
    cursor: pointer;
}
.submit:hover{
background: blue;
color: white;
}

.signin a{
    color: orange;
    font-size: 20px;
    text-decoration: none;
}
.signin a:hover{
    color: blue;
    text-decoration: none;
}